.book-card {
    background-color: #FFB84D; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s ease-in-out; 
  }
  
  .book-card:hover {
    transform: scale(1.05);
  }
  
  .book-cover {
    border-radius: 50%; 
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 20px;
  }
  
  .book-details {
    padding: 10px;
  }
  
  .book-details h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .book-details p {
    font-size: 14px;
    margin: 5px 0;
  }
  