.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 20%;
    background-color: cornflowerblue;
    padding: 30px;
    border-radius: 20px;
    margin: 50px auto;
    color: white;
}

.profile-card img {
    width: 60%;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}